<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
    <main>
        <div class="login_container">
            <h1>Login</h1>
            <form action="/api/v1/user/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <div class="btn_container">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>